@import "./color_variables.scss";

.callout.large {
  margin: 75px 6rem 0.5rem 6rem;
  border-radius: .2rem;
  background-color: #f2f3f5;
  border: 1px solid $primary;
}

.how-it-works {
  margin-top: 100px;
}

#book-pic {
  max-width: 250px;
}

#research-pic {
  max-width: 250px;
}

.app-description {
  color: gray;
  font-style: italic;
  font-weight: 200;
  font-size: 1em;
}

.welcome {
  text-align: center;
  border: 3px solid $primary;
  border-radius: .2rem;
  width: fit-content;
  margin: 50px auto;
  padding: 20px;
}

.button.landing {
  margin-right: 8px;
}

.logo-text{
  font-family: 'Arima Madurai', cursive;
}

.card {
  border-radius: .2rem;
}