@import "./color_variables.scss";

body {
  font-family: 'Libre Baskerville', serif;
  font-weight: 400;
  background: $off-white;
  color: $primary;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Libre Baskerville', serif;
  font-weight: 700;
}

.button {
  font-family: 'Work Sans', sans-serif;
  font-weight: 700;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 3px;
  background-color: $secondary;
  border-radius: 2em;
}

.button.hollow.button {
  color: $primary
}
